// Colors
$primary-color: #333;
$secondary-color: #eee;
$accent-color: #007bff;
$text-color: $primary-color;
$background-color: $secondary-color;

// Fonts
$primary-font: 'Lato', sans-serif;
$base-font-size: 16px;

// Spacing
$spacing-unit: 1rem;